*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: cursive;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.logo{
    font-size: 35px;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: teal;
    color: white;
}
.nav-links a{
    color: white;
}
.menu{
    display: flex;
    gap: 1em;
    font-size: 18px;
}
.menu li:hover{
    background-color: #4c9e9e;
    border-radius: 5px;
    cursor: pointer;

}
.menu li{
    padding: 5px 14px;
}
.dropdown{
    background-color: rgb(1, 139,139);
    display: none;
    position: absolute;
    border-radius: 8px;

}
.services{
    position: relative;
}
.services:hover .dropdown{
    display: block;
}
